ltmain.sh
*.swp
*.lo
*.o
*.la
.deps/
.libs/
Makefile
Makefile.in
autom4te.cache
config.h
config.log
config.status
configure
*.pc
libtool
m4/
*.m4
po/POTFILES
po/remove-potcdate.sed
stamp-h1
test/basic/basictest
test/gtkpanda/gtkpandatest
test/panda-glade-convert
test/test-libglade-panda
