Makefile
Makefile.in
autom4te.cache/
.deps
.libs
*.o
*.lo
*.pc
*~
*.bak
*.m4
*.la
compile
config.h
config.log
config.status
configure
libtool
po/Makevars.template
po/POTFILES
po/remove-potcdate.sed
stamp-h1
test/basic/basictest
INSTALL
aclocal.m4
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
test/gtkpanda/gtkpandatest
test/panda-glade-convert
test/test-libglade-panda
